body {
  font-family: 'Open Sans', 'arial';
  font-size: 14px;
  color: #333;
}

header {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

header img {
  height: 48px;
  display: inline;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  line-height: 48px;
  height: 48px;
  vertical-align: top;
}

h1, h2 {
  text-transform: uppercase;
}

main {
  display: flex;
  box-sizing: border-box;
}

main section {
  align-self: flex-start;
  flex-grow: 3;
  padding: 10px;
}

main section:first-child {
  width: 70%;
}

main section[role="navigation"] {
  display: flex;
  flex-grow: 1;
  width: 30%;
}

svg > * {
  fill: #ccc;
  cursor: pointer;
}
svg > .rooms {
  fill: rgb(181, 185, 53);
}

svg > #wc,
svg > #wc-ffa {
  fill: rgb(38, 189, 207);
}

svg > #lounge {
  fill: rgb(26, 115, 186);
}

svg > .rooms.active,
svg > *.active,
svg > #wc.active,
svg > #wc-ffa.active,
svg > #lounge.active {
  fill: rgb(247, 143, 49);
  stroke: rgb(177, 28, 84) !important;
  stroke-width: 6 !important;
}

svg > *.highlight {
  fill: rgb(255, 244, 80) !important;
}

h2 {
  padding: 5px 10px;
  font-weight: bold;
}

ul li a {
  display: inline-block;
  padding: 5px 10px;
}

a, a:hover, a:visited, a:active {
  color: #333;
}

ul li a.active {
  background-color: rgb(247, 143, 49);
  color: #fff;
}

ul li a.highlight,
ul li a.active:hover {
  background-color: rgb(255, 244, 80);
  border-radius: 1px;
  color: #333;
}

article > div {
  display: flex;
}

article section[role=definition] {
  flex-grow: 2;
  min-width: 30%;
}
article section[role=note] {
  flex-grow: 3;
  min-width: 70%;
}

article section {
  padding: 0 0 1.5em;
}

article section h1,
article section h2 {
  padding: 0 0 1em;
}

article section p {
  line-height: 1.5em;
}

article section ul {
  list-style: disc;
  padding-left: 18px;
}
article section li {
  padding: 5px 0;
}
